*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/.aws-sam/
**/node_modules/
**/dist/
**/.env.local
*.local.json
/artifacts/*.zip
/artifacts/provision-fallback-dashboard*/
